@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbar-size: 6px;
  }

  *,
  *::before,
  *::after {
    -webkit-tap-highlight-color: transparent;
  }

  *::selection {
    @apply bg-blue-200;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }

  /* Custom scrollbar */

  ::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-500/80;
    border-radius: var(--scrollbar-size);
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500/100;
  }
}
